<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('attraction_page') }}">Les attractions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('avantages_page') }}">Les avantages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('map_page') }}">Le plan</a>
    </li>
</ul>

<div class="input-group mb-3">
    <select class="custom-select" id="inputGroupSelect02">
        <option selected>Catégories</option>
        <option value="1">Familles</option>
        <option value="2">Ados</option>
        <option value="3">Adultes</option>
    </select>
    <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect02"></label>
    </div>
</div>
