{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <img src="https://i.ytimg.com/vi/lST0UVQaaXI/maxresdefault.jpg" alt=""">
    <style>
        .container {
            position: absolute;
            font-family: Arial;
        }

        .text-block {

            font-family: 'Eater', cursive;
            position: absolute;
            bottom: 80vh;
            right: 20vh;
            left :20vh;
            color: white;
            font-size: 100px;
            margin-bottom:100px;
            text-align: center;
        }
    </style>
    <div class="text-block">
        <p>Au revoir</p>
    </div>
</div>




{% endblock %}
