body {
    background-image: url("/images/fond6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
    font-family: 'Marmelad', sans-serif;
    color: white;
}


p {
   font-family:'Marmelad', sans-serif;
   font-size: 25px;
    color: red;
}


h1 {
    font-size: 80px;
    margin-top: 50px;
    font-family: 'Eater', cursive;

}

#fenetre {
    height: 250px;
    width: 300px;
    margin-top: 180px;
    margin-left: 50px;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    padding: 15px;

    font-family: 'Marmelad', sans-serif;
}

format {
    font-family: 'Marmelad', sans-serif;
    font-size: 2em;
}

.bt {
    max-width: 15vw;
    max-height: 15vh;

   margin-bottom: 10px;
}

.form-check {
    margin-top: 15px;
    color: black;
}

