body {
    background-image: url("/images/fond6.jpg");
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-color: black;

    width: 100vw;
    height: 100vh;

    text-align: left;
    font-family: 'Marmelad', sans-serif;
    font-size: 1.5vh;
    color: white;
}


h1 {
    text-align: center;
    font-size: 8vh;
    margin-top: 4vh;
    font-family: 'Eater', cursive;
}

#question {
    display: inline-block;
    background-color: white;
    opacity: 0.8;
    border-radius: 1em;
}
#question legend {
    color: darkred;
    font-size: 2vh;
    font-style: italic;
}
#question label {
    color: red;
}

#question input {
    margin-left: -1em;
}

.mapLink {
    max-width: 25%;
    text-align: center;
    font-family: 'Marmelad', sans-serif;
    font-size: 2em;
}

.mapLink img {
    margin-bottom: -1em;
    filter: drop-shadow( 0 0 10px red);
    transition: filter 1s;

    max-width: 4em;
    max-height: 4em;
}
.mapLink:hover img {
    filter: drop-shadow( 0 0 40px red);
}

.mapLink > a {
    transition: color 1s;
}
.mapLink:hover > a {
    color: red;
}
