/* define the dimensions of the map so that it is of constant ratio */
@media ( max-aspect-ratio: 1/1 ) {
    :root {
        --dim: 80vw;
        --margeH: calc( (100vh - var(--dim) ) /2 );
    }
}

@media ( min-aspect-ratio: 1/1 ) {
    :root {
        --dim: 80vh;
        --margeH: 10vh;
    }
}

body {
    background-color: #4e555b;
}

h1 {
    font-family: 'Eater', cursive;
    font-size: 60px;
}

.constant-ratio {
    margin: auto;
    margin-top: var(--margeH);
    margin-bottom: var(--margeH);
    width: var(--dim);
    height: var(--dim);
}

.relativeContainer {
    position: relative;
}

.mapAsBackground {
    background: url('/images/mapBackground.png') no-repeat;
    background-size: cover;
}

.smallBeast {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
}

.bebete {
    z-index: 1;
    position: fixed;
    top: 60vh;
    left: 75vw;
}

/* classes applied to icons and labels for the attractions */
.attractionIcon {
    max-width: 10vw;
    max-height: 10vh;
}

.attractionCartridge {
    border: 3px solid black;
    border-radius: 0.5em;
    padding: 0.3em;
    font-size: 1em;
    line-height: 0.8em;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    transition: background-color 0.8s, box-shadow 1s;
}

.attractionCartridge > p {
    margin: 0.5em;
}

.attractionLabel {
    font-size: 1.2em;
    font-weight: bold;
}


/* for highlighted attractions */

.spotted > .attractionCartridge {
    background-color: rgba(255,0,0,0.5);
    box-shadow: 2px 2px 2px black;
}

.spotted > img {
    filter: drop-shadow( 1em, 1em, 4em, red);
}


/* for the form inside the filter panel */

form input[type="checkbox"] {
    margin-left: -2em;
}

.col-form-label,
.form-control-label {
font-weight: bold;
font-size: 1.4em;
}

#filterquery_horaires > fieldset.form-group > legend,
.form-check-label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: lightgrey;
    font-size: 1.2em;
}

