/* define the dimensions of the map so that it is of constant ratio */
@media ( max-aspect-ratio: 1/1 ) {
    :root {
        --dim: 80vw;
        --margeH: calc( (100vh - var(--dim) ) /2 );
    }
}

@media ( min-aspect-ratio: 1/1 ) {
    :root {
        --dim: 80vh;
        --margeH: 10vh;
    }
}

body {
    background-color: #4e555b;
}

h1 {
    font-family: 'Eater', cursive;
    font-size: 60px;
}

.constant-ratio {
    margin: auto;
    margin-top: var(--margeH);
    margin-bottom: var(--margeH);
    width: var(--dim);
    height: var(--dim);
}

.relativeContainer {
    position: relative;
}

.mapAsBackground {
    background: url('/images/mapBackground.png') no-repeat;
    background-size: cover;
}

.smallBeast {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
}

.bebete {
    z-index: 1;
    position: fixed;
    top: 60vh;
    left: 75vw;
}


.attractionIcon {
    max-width: 10vw;
    max-height: 10vh;
}

