
h3{
    text-align: center;
    color: #ced4da;
    background-color: #5a6268;
}

.map{
    width: 200rem;
}

/* define the dimensions of the map so that it is of constant ratio */

body {
    background-color: #4e555b;
}




@media ( max-aspect-ratio: 1/1 ) {
    :root {
        --dim: 80vw;
        --margeH: calc( (100vh - var(--dim) ) /2 );
    }

}

@media ( min-aspect-ratio: 1/1 ) {
    :root {
        --dim: 80vh;
        --margeH: 10vh;
    }

}

.constant-ratio {
    margin: auto;
    margin-top: var(--margeH);
    margin-bottom: var(--margeH);
    width: var(--dim);
    height: var(--dim);
}

.relativeContainer {
    position: relative;
}

.mapAsBackground {
    background: url('/images/mapBackground.png') no-repeat;
    background-size: cover;
}

img {
    margin-top: 770px;
}

.bebete {
    margin-top: 500px;
}

h1 {
    font-family: 'Eater', cursive;
    font-size: 60px;
}

