{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center">
                <h1>The Map</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-lg-1 text-center">
                <img src="/images/entassement.png">
            </div>
            <div class="col-12 col-lg-7 text-center">

                <div class="mapAsBackground constant-ratio" id="map">

                    {# for now, parameters in yml cannot be associative arrays,
                        so we were obliged to use an indexed one #}

                </div>

            </div>

            <div class="col-12 col-lg-4">
                <img class="bebete" src="/images/bestiole.png">
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/map.css">
{% endblock %}
