{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center">
                &lg;Titre ici&gt;
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 text-centered">

                <div class="mapAsBackground constant-ratio" id="map">

                    {# for now, parameters in yml cannot be associative arrays,
                        so we were obliged to use an indexed one #}
                    <div style="position: absolute; top: {{ pos[1] }}%; left: {{ pos[0] }}%">
                        X
                    </div>

                </div>

            </div>

            <div class="col-12 col-lg-4">
               {% include 'selectPage.html.twig' %}
            </div>
        </div>

        <div class="col-12 text-center">
            <p>footer</p>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/map.css">
{% endblock %}
